.App {
  text-align: center;
}

.btn{
  list-style: none;
}

.isCompleted {
  text-decoration: line-through;
}

.hidden{
  display: none;
}
.background-blur{
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

.modal{
  background-color: white;
  width:50%;
  margin:auto auto;
}


.list{
  display:flex;
  list-style: none;
  justify-content:space-evenly;
}

.selected{
  color:black;
  text-decoration:none;
  background-color: red;
}

a{
 text-decoration: none !important;
 color: black
}


.filter-btn {
  background-color:rgb(184, 184, 184);
  border-radius: 6px;
  border: 2px solid rgb(209, 209, 209);
  cursor: pointer;
  width: 100px;
  height:30px;
}

.filter-btn-active {
  background-color:rgb(54, 208, 216);
  border-radius: 6px;
  border: 2px solid rgb(209, 209, 209);
  cursor: pointer;
  width: 100px;
  height:30px;
}